# Ignore Visual Studio Code settings
.vscode/

# Ignore HTML folder
./html

# Ignore logs and temporary files
*.log
*.tmp

# Ignore vendor folder
/vendor/

# Ignore cache folder
.cache/*

# Ignore .env

